


article
    margin-top: 20%
    text-align: center
    width: 100vw
   

    h1
        color: #ffffff

.swiper
    padding: 32px
  
  
.swiper-slide
    display: flex
    justify-content: center
     

.swiper-pagination-bullet
    background: #ffffff
.swiper-button-prev
    color: #ffffff
.swiper-button-next
    color: #ffffff