@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')


.main
    align-items: center
    display: flex
    justify-content: center
    margin-bottom: 15%
   
 
    
    

#col-1
    width: 800px
    color: white
    font-weight: 700
    font-family: 'Poppins'
        
        
    p:nth-child(2)
        font-size: 77px
        margin-bottom: 0

    
    

    h1
        font-size: 160px
        font-family: 'Poppins'
        font-weight: 600
        margin-bottom: -40px
        margin-top: 20%

    span
        color: #B08857

    p:nth-child(3)
        font-size: 54px
        margin-top: -20px


    .info
        display: flex
        flex-direction: none

        .contact
            width: 250px
            height: 25px
            font-size: 19px
            gap: 10px
            align-items: center
            justify-content: center
            display: flex
            transition: all 0.4s
            border-radius: 20px
            border: 2px solid #B08857
            font-weight: normal
            font-family: 'Poppins'
            color: #ffffff
            background: none
            margin-right: 40px
            padding: 20px

            &:hover
                background-color: #fff
                color: #000

    
#col-2
    margin-top: 8%
    width: 600px

    img
        max-width: 800px
        height: 540px
        border-radius: 10px
        margin-left: 40px



// Media Queries

    
// Desktop
@media (min-width: 1024px) and (max-width: 1200px)




    .main
        height: 50vw
        margin-bottom: 0
        

        .row
            justify-content: center
            

            #col-1
                width: 50vw
                margin-bottom: 0
                justify-content: start
                align-items: start

                h1
                    font-size: 120px
                    font-family: 'Poppins'
                    font-weight: 600
                    margin-top: 40%

                p:nth-child(2)
                    font-size: 49px
                    margin-bottom: 0

                p:nth-child(3)
                    font-size: 34px
                    margin-top: -20px


            #col-2
                margin-top: 12%
                width: 410px
                

                img
                    max-width: 400px
                    height: 400px
                    margin: 0

// Celulares
@media (min-width: 0) and (max-width: 431px) 
    .main
        justify-content: initial
        align-items: initial
        display: initial

        .row
            justify-content: center


            #col-1
                margin-left: 0
                text-align: center
                width: 400px
                display: flex
                flex-direction: column

                h1
                    font-size: 60px
                    margin-bottom: 0px

                p:nth-child(2)
                    font-size: 30px
                    margin-bottom: 0

                p:nth-child(3)
                    font-size: 35px
                    margin-top: 0

                .info
                    gap: 10px
                    align-content: center
                    justify-content: center
                    text-align: center
                    display: flex

                    .contact
                        width: 400px
                        font-size: 20px
                        transition: none
                        margin: 0

            #col-2
                width: 660px
                margin-top: 10%
                display: flex
                text-align: center
                align-content: center
                justify-content: center
                

                margin-left: 0

                img
                    max-width: 600px
                    height: 320px
                    margin: 0











