@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')


#col-1-ab
    margin-top: 10%
    max-width: 750px
  

    .div-city-ab
        h4
            color: #fff
            margin: 20px 0
            display: flex
            gap: 20px
            
        

    .span-ab
        color: #B08857 
        

    #img-mobile-ab
        display: none


    .col-conteudo-ab

        width: 600px

        p
            font-size: 18px
            color: #fff
            font-family: 'Poppins'


#col-2-ab
    display: flex
    justify-content: center
    margin-top: 10%
    max-width: 700px
    
    

    img
        
        margin-left: 10%
        
